@model Libreria.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Detalle del Producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreProducto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionProducto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescripcionProducto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaProducto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoriaProducto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="ImagenProducto" class="control-label">Foto del Jugador</label>
            <br>
            <img src="../@Model.ImagenProducto" alt="Imagen" width="250" height="250">
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImagenProducto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Volver</a>
</div>
