@model IEnumerable<Libreria.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Productos</h1>

@using (Html.BeginForm("", "Productos", FormMethod.Get))
{
    <p>
        Buscar: @Html.TextBox("buscar", null, new { placeholder = "Ingrese un nombre" })
        <input type="submit" value="Buscar" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="" asp-route-filtro="@ViewData["FiltroNombreProducto"]">
                    @Html.DisplayNameFor(model => model.NombreProducto)
                </a>
            </th>
            <th>
                <a asp-action="" asp-route-filtro="@ViewData["FiltroDescripcion"]">
                    @Html.DisplayNameFor(model => model.DescripcionProducto)
                </a>
            </th>
            <th> 
                <a asp-action="" asp-route-filtro="@ViewData["CategoriaDescendente"]">
                    @Html.DisplayNameFor(model => model.CategoriaProducto)
                </a>
            </th>
             <th>
                <a asp-action="" asp-route-filtro="@ViewData["FiltroPrecio"]">
                    @Html.DisplayNameFor(model => model.Precio)
                </a>
            </th>
            <th>
                <a asp-action="" asp-route-filtro="@ViewData["FiltroStock"]">
                    @Html.DisplayNameFor(model => model.Stock)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagenProducto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescripcionProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriaProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    <img src="@item.ImagenProducto" alt="Imagen" width="50" height="50">
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-outline-primary" asp-route-id="@item.Id">Editar</a>
                    <a asp-action="Details" class="btn btn-outline-warning" asp-route-id="@item.Id">Detalle</a>
                    <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-success">Crear Nuevo Producto</a>
